/* 全局CSS*/
*{margin:0px; padding:0px;}
html{font-size:100%;font-family:'microsoft yahei','helvetica neue',tahoma,arial,'hiragino sans gb','Simsun',sans-serif} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0}
body{line-height:1.333;font-size:13px; color:#2E2E2E;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:'microsoft yahei',arial,'hiragino sans gb','microsoft yahei','Simsun',sans-serif}
li{list-style:none}
a{ text-decoration:none; outline:none; color: #191919;}
a:link,a:visited,a:hover{text-decoration: none;}
a:hover{color: #ff7007}
fieldset, img { border: 0; }
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
/* 清理浮动 */
.clearfix { *zoom:1; }/*IE6 7 只要触发layout即可*/
.clearfix:after { content:"."; clear:both; height:0; font-size:0; line-height:0; display:block; }
.clear { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
/*字体大小*/
.font_13{ font-size:13px;}
/*边框阴影*/
.yinying{ -webkit-box-shadow:0 1px 0px rgba(0,0,0,0.1);}
/*图标*/
.dot{/* display:inline-block; *display:inline; *zoom:1; */ background:url(../weixin_images/dot.png) no-repeat; width:19px; height: auto;}
.dot .a{background-position:0 -19; height:19px; width:19px;}
/*小图标*/


/*全站选中字体后背景更换 S*/
::-moz-selection { background: #FF6600; color:#fff;}
::-webkit-selection { background:#FF6600; color:#fff;}
::selection { background:#FF6600; color:#fff;}	/*文本选中以后的颜色*/
/*全站选中字体后背景更换 E*/






/*顶部 微信 微博 关注 S*/
.guanzhu a{ background:url(../weixin_images/icon.png) no-repeat; color:#333; font-size:12px;}
.guanzhu a:hover{ color:#ff7007;}
.guanzhu {
	position:relative;
	float:left;
	height:21px;
	z-index:900;
}
.guanzhu .weixin-erweima {
	position:absolute;
	left:0;
	top:29px;
	left:114px;
	display:none;
	height:222px;
	overflow:hidden;
}
.guanzhu .weixin-erweima a {
	position:absolute;
	right:0;
	bottom:0;
	width:23px;
	height:23px;
	text-indent:-999px;
	display:block;
	padding:0;
	margin:0;
	background:none;
	z-index:999;
	background:#fff;
	opacity:0;
	filter:Alpha(Opacity=0);
}
.guanzhu a {
	display:inline-block;
	padding-left:26px;
	margin-right:11px;
	height:21px;
}
.guanzhu a.gz1 {
	background-position:-480px 2px;
}
.guanzhu a.gz2 {
	background-position:-480px -33px;
	padding-left:27px;
}
.guanzhu a.gz3 {
	background-position:-480px -70px;
}
/*顶部 微信 微博 关注 E*/


/* 首页顶部固定浮动 S */
html{ _background:url(about:blank);} /*阻止闪动 in IE6 , 把空文件换成about:blank , 减少请求*/
#header{
	width:100%; height:60px; line-height:80px;
}
#topToolbar{
	_display:none;
	width:100%; height:60px; line-height:60px;
	background:#344157;
	position:fixed; top:-40px; left:0; _top:0;
	_position:absolute; _top:expression(documentElement.scrollTop);
	color:#fff;
	z-index:80;
}
#bottomToolbar{
	width:100%; height:100px; line-height:45px; z-index:9999;
	background:#344157; border-top:3px solid #202833;
	position:fixed; bottom:0; left:0;
	_position:absolute; _top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
	color:#fff;
	/*
		document.body.scrollTop 网页滚动的距离
		document.body.clientHeight 网页可见区域高
		this.offsetHeight 当前元素的高度
	*/
}
/*#bottomToolbar .nav{ width:1100px; margin:0 auto; font-size:14px;}
#bottomToolbar .nav a{ color:#fff; padding:5px 8px 6px 8px;}
#bottomToolbar .nav a:hover{ background:#f9576a; color:#fff;}
#bottomToolbar .nav .current{ background:#f9576a; color:#fff;}*/
.sx .scv-shaixuan a{ padding:5px 8px 6px 8px;}
.sx .scv-shaixuan a:hover{ background:#f9576a; color:#fff;}
.sx .scv-shaixuan .current{ background:#f9576a; color:#fff;}
/* 首页顶部固定浮动 E */

/* 导航 S */
.head-v3{margin:0 auto;position:relative;z-index:90;min-width:1020px;}
.head-v3 .navigation-inner{margin:0 auto;width:100%;position:relative;}
.navigation-up{height:60px;background:#27303f}
.navigation-up .navigation-v3{float:right; position:relative;}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;font:normal 16px/59px "microsoft yahei";color:#fff}
.navigation-up .navigation-v3 .nav-up-selected{background:#344157}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:#191f28;}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{padding:0 25px;color:#fff;display:inline-block;height:60px;font-family:"microsoft yahei"}

.navigation-down{position:absolute;top:60px;left:0px;width:100%}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#344157;position:absolute;top:0px}
.navigation-down .nav-down-menu2{width:100%;margin:0;background:#ff0066;position:absolute;top:0px}
.navigation-down .nav-down-menu .nav-down-menu2 .navigation-down-inner{margin:auto;width:1200px;position:relative}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0}
.navigation-down .nav-down-menu2 dl{float:left;margin:18px 80px 18px 0}
.navigation-down .menu-0 dl{margin:20px 80px 25px 0}
.navigation-down .menu-0 dt{font:normal 16px "microsoft yahei";color:#61789e;padding-bottom:10px;border-bottom:1px solid #61789e;margin-bottom:10px}
.navigation-down .menu-0 dd a{color:#fff;font:normal 14px/30px "microsoft yahei"}
.navigation-down .menu-0 dd a:hover{color:#27303f}
.navigation-down .menu-1 dl{margin:20px 80px 25px 0}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#61789e;padding-bottom:10px;border-bottom:1px solid #61789e;margin-bottom:10px}
.navigation-down .menu-1 dd a{color:#fff;font:normal 14px/30px "microsoft yahei"}
.navigation-down .menu-1 dd a:hover{color:#60aff6}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#fff;font:normal 16px "microsoft yahei"}
/* 导航 E */








/*仿H123左侧浮动导航 S*/
.weiduduan{ width:56px; margin:0 auto 0 auto;}
.float-news,.float-open{background: #F2F2F2;display:inline-block;font-size:14px;}
.float-news{height:100%;left:0px;padding:0;width:56px;z-index:100;/*top:117px;_margin-top:117px;*/}
.float-open{height:48px;left:-70px;padding:4px 4px 4px 6px;width:48px;z-index:99;top:520px;_margin-top:520px;}
.float-news,.float-open{position:fixed;*zoom:1;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
.float-close{background:url(../weixin_images/nav-close.png) no-repeat left top;overflow:hidden;height:48px;opacity:.6;filter:alpha(opacity=60);position:absolute;right:5px;text-indent:100%;top:520px;white-space:nowrap;width:48px;}
.open-btn{background:url(../weixin_images/ml-open-demo.png) no-repeat left top;display:block;overflow:hidden;height:48px;opacity:.6;filter:alpha(opacity=60);text-indent:100%;white-space:nowrap;width:48px;}
.float-close:hover,.open-btn:hover{opacity:1;filter:alpha(opacity=100);}
.newslist h6{color:#333;border-bottom:4px solid #F2F2F2;font-size:18px;height:23px;line-height:23px;font-family:Microsoft Yahei,simsun,arial,sans-serif; margin-top:130px; padding:16px 0 0 9px;}
.newslist ul{margin-top:40px;}
.newslist li{position:relative;height:46px;line-height:46px;font-size:14px;border-bottom:1px #ccc dotted; padding:10px 0 0 9px;}
.newslist li:hover{ background: #fff;}
.newslist li a{color:#404040;}
.newslist li b{ text-indent:-9999px; display:block;}
.newslist li span{position:absolute;right:0;color:#ccc;}
/*.newslist li:last-child{border-bottom:0;}*/
/*仿H123左侧浮动导航 E*/











/*火箭 S*/
#rocket-to-top div {
    left:0;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:0;
    width:149px;
}
#rocket-to-top .level-2 {
    background:url("../weixin_images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
    display:none;
    height:250px;
    opacity:0;
    z-index:1;
}
#rocket-to-top .level-3 {
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
    display:block;
    height:150px;
    z-index:2;
}
#rocket-to-top {
    background:url("../weixin_images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
    cursor:default;
    display:block;
    height:250px;
    margin:-125px 0 0;
    overflow:hidden;
    padding:0;
    position:fixed;
    right:0;
    top:80%;
    width:149px;
    z-index:11;
}
/*火箭 E*/

/*右侧服务热线 S*/
.help_box{width: 130px;height: 259px;background-image: url(../weixin_images/help_bg.png);background-repeat: no-repeat;position:fixed;top:210px;right:5px;z-index:9999;}
.help_box .free_go{display:block;}
.help_box h3,.help_box b.tels,.help_box .free_go{display:block;width:130px;height:35px;line-height:35px;text-align:center;color:#FFF;font-size:18px;}
.help_box h3 a{color:#fff;}
.help_box h3 {margin-top:8px;}
.help_box b.tels{display: block;margin-top: 8px;font-family: Arial, Helvetica, sans-serif; font-weight:normal;}
.help_box #help_qq{display:block;width:130px;height:108px;padding-top:22px;text-align:center;color:#FFF;font-size:18px;margin-top:8px;}
.help_box #help_qq:hover{color:#990}
#qq_list{display:none;width:590px;height:480px;padding-top:10px;padding-bottom:10px;background-color:#FFF;position:absolute;top:0;right:143px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.close_qq{display: block;position:absolute;right:15px;top:10px;width: 18px;height: 18px;background:url(../images/close.jpg) no-repeat -7px -7px;}
#qq_list h4{width:560px;margin:0 auto;border-bottom:1px solid #D9D9D9;height:28px;line-height:28px;font-size:14px;color:#000;text-indent:5px;}
.area_qq{width:570px;padding-left:10px;margin:0 auto;overflow:hidden;padding-top:8px;}
.area_qq p{width:270px;height:24px;float:left;overflow:hidden;margin-right:15px;}
.area_qq p.bg_gray{background-color:#f6f6f6}
.area_qq p b,.area_qq p span,.area_qq p a{display:inline-block;color:#444444;}
.area_qq p b{width:50px;font-weight:normal;color:#e83e0b;height:24px;line-height:24px;text-align:center;}
.area_qq p a{padding-left: 22px;background: url(../images/about/qq.png) no-repeat 4px center;margin-left:3px;}
.area_qq p a:hover{color:#e83e0b;}
/*右侧服务热线 E*/

/*底部 S*/
.footer{ width:100%; height:auto; margin-top:10px; color:#fff;}
.footer .dh{ width:100%; height:50px; background: #2E2E2E; text-align:center; font-size:12px; line-height:50px;}
.footer .dh a{ color: #D2D2D2; padding:0 12px;}
.footer .dh a:hover{ color:#fff;}
.footer .info{ width:100%; height:118px; background: #ff7207; text-align:center; color:#fff; font-size:13px; line-height:27px; letter-spacing:1px; padding:20px 0 0 0;}


/*底部 E*/














