*{padding:0;margin:0}
html{min-height:101%}
body{font-family:verdana,arial,tahoma;font-size:12px;color:#333}
div{margin:0 auto}
ul,ol,li {list-style:none}
a{text-decoration:none;word-wrap:break-word}
a:hover{text-decoration:underline}
img{border:0}
.right {float:right}

/* 框架 */
#b{width:1160px;padding:0 12px;background:#FFF;position:relative}
#l{width:840px;float:left;border-right:1px solid #DDD;padding-right:10px;position:relative}
#m{width:670px;float:left;border-right:1px solid #DDD;padding-right:10px;position:relative}
#r{width:300px;float:right;padding-bottom:200px;}
#l1{width:160px;height:400px;float:left;margin-right:10px}

#l2{width:300px;float:left;margin-right:10px}
#r2{width:840px;padding-left:10px;float:right}

/* 顶部导航 */
.topbg{height:33px;background:url(../images/a.png) repeat -20px 0}
.topnav{width:1160px;height:33px;line-height:33px;padding:0 12px}
.topnav .l{float:left;color:#999}
.topnav .r{float:right;color:#DDD}
.topnav .r a{color:#666;cursor:pointer}
.topnav .r a:hover{color:#390}





/* 全站导航 */
#daohang{width:1160px;height:32px;background:#333;margin-bottom:2px;position:relative;z-index:99}
.home{margin-left:16px}
.tab{position:relative;display:block;float:left;cursor:pointer}
.tab .tablink{position:relative;padding:1px 12px;line-height:30px;display:block;height:30px;color:#fff;font-size:14px;z-index:99;float:left}
.tab .tablink a{line-height:30px;color:#FFF;text-decoration:none}
.tab:hover{background:#FFF}
.tab:hover .tablink{color:#357d13;border:1px solid #629d2a;padding:0 11px;text-decoration:none}
.tab:hover .tablink a{color:#357d13}
.dropdown:hover .arwlink{border-bottom:1px solid #FFF;border-left:1px solid #629d2a;height:31px}
.dropdown ul{display:none}
.dropdown:hover ul{position:absolute;display:block;margin-left:-1px;top:32px;left:1px;z-index:9}
.subnav{width:250px}
.subnav a{padding:4px 0 4px 10px;line-height:16px;width:70px;display:block;white-space:nowrap;color:#333;float:left}
.subnav :hover{text-decoration:underline;color:#080}
.dropdown .subnav{background:#FFF;border:1px solid #390;padding:8px}








/* 分页 */
.dede_pages{line-height:30px;clear:both}
.dede_pages ul{float:none;display:table}
.dede_pages ul li{float:left;margin-right:4px}
.dede_pages ul li a{float:left;padding:0 10px;color:#607C27;font-size:14px;font-weight:bold;border:1px solid #690;text-decoration:none}
.dede_pages ul li a:hover{color:#FFF;padding:0 10px;text-decoration:none;border:1px solid #690;background:#690}
.dede_pages ul li.nohref{color:#999;padding:0 10px;border:1px solid #DDD}
.dede_pages ul li.thisclass{color:#FFF;padding:0 10px;border:1px solid #690;background:#690;font-weight:bold}





/* 尾部 */
#footer{clear:both}
.about dl{width:156px;height:210px;padding:8px 16px 0 0;float:left;text-align:right;line-height:22px;border-right:1px solid #333}
.about dt{color:#ccc;font-weight:bold;padding-bottom:12px}
.about dd{height:24px;line-height:24px}
.about dd a{color:#aaa}
.about dd a:hover{color:#390}

.jinbu dl{width:300px;height:210px;padding:8px 16px 0 80px;float:left;line-height:22px}
.jinbu dt{color:#ccc;font-weight:bold;padding-bottom:12px}
.jinbu dd{line-height:24px;color:#666}
.jinbu dd a{color:#666}
.copyright{color:#666;float:right;font-size:10px;padding:40px 20px 10px}
.copyright a{color:#666}
.copyright a:hover{color:#999}
.beian{float:left;padding:40px 20px 10px}
.beian a{color:#1a1a1a}
.beian a:hover{color:#333}



/* 首屏 */
.in-main{width:1160px;height:390px;margin-bottom:8px}
.in-main .l{width:426px;float:left;margin-right:8px}







/* JS首页 ---------------------*/
